### Loading the dataset

In [1]:
import pandas as pd
import numpy as np

In [2]:
data1 = pd.read_json("Amazon Dataset/Cell_Phones_and_Accessories/Cell_Phones_and_Accessories.json",lines=True,nrows=100000)
data2 = pd.read_json("Amazon Dataset/Clothing_Shoes_and_Jewelry/Clothing_Shoes_and_Jewelry.json",lines=True,nrows=100000)
data3 = pd.read_json("Amazon Dataset/Electronics/Electronics.json",lines=True,nrows=100000)
data4 = pd.read_json("Amazon Dataset/Home_and_Kitchen/Home_and_Kitchen.json",lines=True,nrows=100000)
data5 = pd.read_json("Amazon Dataset/Toys_and_Games/Toys_and_Games.json",lines=True,nrows=100000)

In [3]:
data = pd.concat([data1,data2,data3,data4,data5],axis=0)

In [4]:
data.shape

(500000, 12)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500000 entries, 0 to 99999
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   _id             500000 non-null  object
 1   reviewerID      500000 non-null  object
 2   asin            500000 non-null  object
 3   reviewerName    497759 non-null  object
 4   helpful         500000 non-null  object
 5   reviewText      500000 non-null  object
 6   overall         500000 non-null  int64
 7   summary         500000 non-null  object
 8   unixReviewTime  500000 non-null  int64
 9   reviewTime      500000 non-null  object
 10  category        500000 non-null  object
 11  class           500000 non-null  int64
dtypes: int64(3), object(9)
memory usage: 49.6+ MB

In [6]:
data.drop(['unixReviewTime','reviewTime','reviewerID','asin','reviewerName','helpful'],axis=1,inplace=True)

In [7]:
data.head()

,_id,reviewText,overall,summary,category,class
0,{'$oid': '5a1321d5741a2384e802c552'},Best phone case ever . Everywhere I go I get a...,5,A++++,Cell_Phones_and_Accessories,1
1,{'$oid': '5a1321d5741a2384e802c557'},ITEM NOT SENT from Blue Top Company in Hong Ko...,1,ITEM NOT SENT!!,Cell_Phones_and_Accessories,0
2,{'$oid': '5a1321d5741a2384e802c550'},Saw this same case at a theme park store for 2...,5,Great product,Cell_Phones_and_Accessories,1
3,{'$oid': '5a1321d5741a2384e802c553'},case fits perfectly and I always gets complime...,5,Perfect,Cell_Phones_and_Accessories,1
4,{'$oid': '5a1321d5741a2384e802c559'},I got this for my 14 year old sister. She lov...,4,Cool purchase.,Cell_Phones_and_Accessories,1

In [8]:
col=['id','review','rating','summary','category','class']
data.columns=col

In [9]:
data.head()

,id,review,rating,summary,category,class
0,{'$oid': '5a1321d5741a2384e802c552'},Best phone case ever . Everywhere I go I get a...,5,A++++,Cell_Phones_and_Accessories,1
1,{'$oid': '5a1321d5741a2384e802c557'},ITEM NOT SENT from Blue Top Company in Hong Ko...,1,ITEM NOT SENT!!,Cell_Phones_and_Accessories,0
2,{'$oid': '5a1321d5741a2384e802c550'},Saw this same case at a theme park store for 2...,5,Great product,Cell_Phones_and_Accessories,1
3,{'$oid': '5a1321d5741a2384e802c553'},case fits perfectly and I always gets complime...,5,Perfect,Cell_Phones_and_Accessories,1
4,{'$oid': '5a1321d5741a2384e802c559'},I got this for my 14 year old sister. She lov...,4,Cool purchase.,Cell_Phones_and_Accessories,1

In [20]:
data.id =data.id.apply(lambda x: x['$oid'])

In [32]:
data.groupby('category')['class'].sum()

category
Cell_Phones_and_Accessories    66045
Clothing_Shoes_and_Jewelry     80292
Electronics                    77176
Home_and_Kitchen               81660
Toys_and_Games                 86465
Name: class, dtype: int64

### Installing the Transformers

In [11]:
#!pip install transformers

### Importing the Dependencies

In [12]:
#from transformers import pipeline

In [13]:
#loading the summarization pipeline
#this is a pretrained summarization pipeline
#summarizer = pipeline('summarization')