In [1]:
import pandas as pd

C:\Users\HRUSHIKESH\AppData\Local\Temp\ipykernel_187408\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

# Reading all csv files and combining them into one csv file for model training

In [2]:
df = pd.read_csv(r'E:\Git Demo\CDAC_Group_Project\Project_dataset\cellphone.csv')
df

,Unnamed: 0,reviewText,overall,summary,class
0,0,This is a well fitting case that really helps...,4,Nice fit and very protective,1
1,1,This is my first IEM which are not UE. I love ...,3,A pretty good earphone with a terrible microphone,0
2,2,"I am satisfied, but placing my phone in a pant...",4,"As advertised, fits my Iphone 4S perfectly. It...",1
3,3,This case can be found listed as 7.25&#34; hig...,3,Size of case WRONG,0
4,4,This is very nice and very smart. The other e...,4,"Does the job, but too expensive",1
...,...,...,...,...,...
299995,299995,I Need this because I make my changes the Batt...,5,Good tool,1
299996,299996,"For the price, it is a great emergency and or ...",5,Great Deal,1
299997,299997,i received the case yesterday it fits the phon...,5,Great Case,1
299998,299998,The quality seems good but larger than I expec...,2,phone case,0
299999,299999,This is a cool and fun product. The only thing...,4,So Cool,1

In [4]:
df1 = pd.read_csv(r'E:\Git Demo\CDAC_Group_Project\Project_dataset\clothes.csv')
df1

,Unnamed: 0,reviewText,overall,summary,class
0,0,"Un reloj muy bonito, puede ser usado con traje...",4,Buen reloj por ese precio!!!,1
1,1,"I was so glad when these finally arrived, but ...",2,disappointed...,0
2,2,I ordered these boots and received them in the...,5,UGG classic sand boots ordered at Amazon,1
3,3,"Rolls below the bust line, did not expect it t...",3,product reveiw,0
4,4,Well constructed garment with plenty of interi...,5,Plenty of room,1
...,...,...,...,...,...
299995,299995,Really like this watch. Don't personally use t...,5,Great watch for the price!,1
299996,299996,"I usually wear XL-T, but when I saw this was 1...",5,I bought 3XL-T when I wear 1XL-T... read revie...,1
299997,299997,Love this bracelet. It is sterling silver and...,5,Love it!,1
299998,299998,I was dissappointed with this product. It say...,2,mom23987,0
299999,299999,Great boots. Very comfortable. No breakin requ...,4,Looking good.,1

In [5]:
df2 = pd.read_csv(r'E:\Git Demo\CDAC_Group_Project\Project_dataset\electronics.csv')
df2

,Unnamed: 0,reviewText,overall,summary,class
0,0,"I have read all the reviews, both positive and...",4,Don't be persuaded by the negative reviews...,1
1,1,This review is based on my owning my second se...,3,"Very Good Audio Engineering, Pathetic Human Fa...",0
2,2,"Unfortunately, my first generation DSLR can on...",4,Great Price,1
3,3,My commute doubled and listening to regular ra...,3,Quite large but works well,0
4,4,I had no idea how much I needed this until I g...,4,Good Product,1
...,...,...,...,...,...
299995,299995,I really like this player. I ripped my cd col...,5,Great Player for the price!,1
299996,299996,Its not often manufacturers get simple things ...,5,RF-2400,1
299997,299997,These earphones do the trick at a reasonable p...,4,"Good product, great price.",1
299998,299998,"Okay, I've had this little &quot;gem&quot; for...",3,Aaaaaaaaaaaaaghghghg,0
299999,299999,Wonderful for children!!! I bought 2. 1 for ...,5,Safer Child Internet Tablet,1

In [6]:
df3 = pd.read_csv(r'E:\Git Demo\CDAC_Group_Project\Project_dataset\home.csv')
df3

,Unnamed: 0,reviewText,overall,summary,class
0,0,At my house we have tried EVERY kind of can op...,5,Love it!!,1
1,1,I clean out the filter after every use because...,2,Stopped Working at 2 month mark,0
2,2,This guy is sturdy. Affordable too. Multifunct...,5,Cheapest and Bestest for a whirly,1
3,3,After only 5 months of limited use we started ...,2,Didn't Last,0
4,4,This is my second copy of this very handy and ...,5,Just the thing For Two-Person Meal Prep,1
...,...,...,...,...,...
299995,299995,"I bought this to have a handy, compact knife s...",5,Works well,1
299996,299996,My daughter has another type of coffee maker f...,5,Ecopad,1
299997,299997,Can't beat it when you buy a product and it ac...,5,Nice,1
299998,299998,"I purchased this filter for my daughter, a new...",1,Don't Buy This Culligan Filter!,0
299999,299999,They do what they are supposed to do. I don't...,4,Works fine,1

In [8]:
df4 = pd.read_csv(r'E:\Git Demo\CDAC_Group_Project\Project_dataset\sports.csv')
df4

,Unnamed: 0,reviewText,overall,summary,class
0,0,What better way to show what team you represen...,5,Red Sox Fans Must Have!,1
1,1,This wireless cycling computer is a bit compli...,3,A bit complicated to use,0
2,2,bought this to use with the game glide. Works...,4,shoulder strap,1
3,3,"I had only used these gloved about five times,...",3,Look Good Feel Good but the Quality of the sti...,0
4,4,"Trying something new to me, very satisfied, wi...",5,A product that works as it was advertised,1
...,...,...,...,...,...
299995,299995,Love the pattern and it's the perfect size and...,4,"Perfect, almost!",1
299996,299996,"These work very well, and fit both my 4 year o...",4,Excellent for price,1
299997,299997,I BOUGHT THIS WATCH WHEN IT FIRST CAME OUT IN ...,5,NOT FOR EVERYONE!,1
299998,299998,The putter had to be glued together because ta...,2,Cheap putter but looks good,0
299999,299999,Adustiable but not as smoth as the Outdoor Con...,5,Butler creek nylon sling,1

In [13]:
df5 = pd.read_csv(r'E:\Git Demo\CDAC_Group_Project\Project_dataset\toys.csv')
df5.drop('Unnamed: 0',axis=1,inplace=True)
df5

                                               reviewText  class
0       the no. of stickers are less than what i expec...      0
1       We purchased these replacement parts anticipat...      0
2       Grandchildren had fun playing . However, after...      0
3       I looked at a lot of these bath dolls and ende...      1
4       I did not find these toys in Korea. My kids lo...      1
...                                                   ...    ...
299995  There is a ton of bounce outs; at times it doe...      0
299996  My Granddaughter wanted to get locked journals...      1
299997  We bought 2 of these, one for our 3yr old son ...      0
299998  I do not have &#34;hands on&#34; experience wi...      0
299999  On one hand I was glad my order arrived quickl...      0

[300000 rows x 2 columns]

In [10]:
combined_df = pd.concat([df,df1,df2,df3,df4],ignore_index=True)
combined_df

,Unnamed: 0,reviewText,overall,summary,class
0,0,This is a well fitting case that really helps...,4,Nice fit and very protective,1
1,1,This is my first IEM which are not UE. I love ...,3,A pretty good earphone with a terrible microphone,0
2,2,"I am satisfied, but placing my phone in a pant...",4,"As advertised, fits my Iphone 4S perfectly. It...",1
3,3,This case can be found listed as 7.25&#34; hig...,3,Size of case WRONG,0
4,4,This is very nice and very smart. The other e...,4,"Does the job, but too expensive",1
...,...,...,...,...,...
1499995,299995,Love the pattern and it's the perfect size and...,4,"Perfect, almost!",1
1499996,299996,"These work very well, and fit both my 4 year o...",4,Excellent for price,1
1499997,299997,I BOUGHT THIS WATCH WHEN IT FIRST CAME OUT IN ...,5,NOT FOR EVERYONE!,1
1499998,299998,The putter had to be glued together because ta...,2,Cheap putter but looks good,0
1499999,299999,Adustiable but not as smoth as the Outdoor Con...,5,Butler creek nylon sling,1

In [11]:
combined_df.drop(['Unnamed: 0','overall','summary'],inplace=True,axis=1)

In [12]:
combined_df

                                                reviewText  class
0        This is a  well fitting case that really helps...      1
1        This is my first IEM which are not UE. I love ...      0
2        I am satisfied, but placing my phone in a pant...      1
3        This case can be found listed as 7.25&#34; hig...      0
4        This is very nice and very smart.  The other e...      1
...                                                    ...    ...
1499995  Love the pattern and it's the perfect size and...      1
1499996  These work very well, and fit both my 4 year o...      1
1499997  I BOUGHT THIS WATCH WHEN IT FIRST CAME OUT IN ...      1
1499998  The putter had to be glued together because ta...      0
1499999  Adustiable but not as smoth as the Outdoor Con...      1

[1500000 rows x 2 columns]

In [14]:
combined_df = pd.concat([combined_df,df5],ignore_index=True)
combined_df

                                                reviewText  class
0        This is a  well fitting case that really helps...      1
1        This is my first IEM which are not UE. I love ...      0
2        I am satisfied, but placing my phone in a pant...      1
3        This case can be found listed as 7.25&#34; hig...      0
4        This is very nice and very smart.  The other e...      1
...                                                    ...    ...
1799995  There is a ton of bounce outs; at times it doe...      0
1799996  My Granddaughter wanted to get locked journals...      1
1799997  We bought 2 of these, one for our 3yr old son ...      0
1799998  I do not have &#34;hands on&#34; experience wi...      0
1799999  On one hand I was glad my order arrived quickl...      0

[1800000 rows x 2 columns]

In [15]:
combined_df.to_csv('E:\Git Demo\CDAC_Group_Project\Project_dataset\combined.csv')