In [27]:
import pandas as pd
import numpy as np
import nltk
from nltk.corpus import stopwords
import string
from nltk.tokenize import word_tokenize

In [14]:
toys_df = pd.read_json("D:\CDAC_PUNE_PROJECT\Toys_and_Games.json\Toys_and_Games.json",lines=True)

In [16]:
toys_df.head(5)

,_id,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime,category,class
0,{'$oid': '5a13282b741a2384e879a620'},A3C9CSW3TJITGT,0005069491,Renee,"[0, 0]",I love these felt nursery rhyme characters and...,4,Charming characters but busy work required,1377561600,"08 27, 2013",Toys_and_Games,1
1,{'$oid': '5a13282b741a2384e879a621'},A31POTIYCKSZ9G,0076561046,So CA Teacher,"[0, 0]",I see no directions for its use. Therefore I h...,3,No directions for use...,1404864000,"07 9, 2014",Toys_and_Games,0
2,{'$oid': '5a13282b741a2384e879a622'},A2GGHHME9B6W4O,0131358936,Dalilah G.,"[0, 0]",This is a great tool for any teacher using the...,5,Great CD-ROM,1382400000,"10 22, 2013",Toys_and_Games,1
3,{'$oid': '5a13282b741a2384e879a61f'},AMEVO2LY6VEJA,0000191639,Nicole Soeder,"[0, 0]","Great product, thank you! Our son loved the pu...",5,Puzzles,1388016000,"12 26, 2013",Toys_and_Games,1
4,{'$oid': '5a13282b741a2384e879a623'},A1FSLDH43ORWZP,0133642984,Dayna English,"[0, 0]",Although not as streamlined as the Algebra I m...,5,Algebra II -- presentation materials,1374278400,"07 20, 2013",Toys_and_Games,1

In [17]:
df=toys_df[['reviewText','class']]

In [18]:
df.head(10)

                                          reviewText  class
0  I love these felt nursery rhyme characters and...      1
1  I see no directions for its use. Therefore I h...      0
2  This is a great tool for any teacher using the...      1
3  Great product, thank you! Our son loved the pu...      1
4  Although not as streamlined as the Algebra I m...      1
5  i am glad to get it after 25 yr of waiting for...      1
6  My son got this book for his birthday.  He lov...      0
7  Love the book format. My 4yr old grandson love...      0
8  On the plus side - puzzle book format and deli...      0
9  This puzzle is poorly made.  The picture part ...      0

In [30]:
stopwords=stopwords.words('english')

In [31]:
def clean_text(line):

    #converting it to lower
    line=line.lower()

    tokens=word_tokenize(line)

    #removing the punctuations
    words=[w for w in tokens if w not in string.punctuation]

    #removing the stopwords
    words=[w for w in words if w not in stopwords]

    return ''.join(words)

In [32]:
df['reviewText']=df['reviewText'].apply(lambda x:clean_text(x))

C:\Users\Prathamesh\AppData\Local\Temp\ipykernel_18036\3483959507.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['reviewText']=df['reviewText'].apply(lambda x:clean_text(x))

In [35]:
df.head(10)

                                          reviewText  class
0  l v e h e e f e l n u r e r r h e c h r c e r ...      1
1  e e n r e c n f r u e h e r e f r e h v e k e ...      0
2  h g r e l f r n e c h e r u n g h e p r e c l ...      1
3  g r e p r u c h n k u u r n l v e h e p u z z ...      1
4  l h u g h n r e l n e h e l g e b r e r l h e ...      1
5  g l g e f e r 2 5 r f w n g f r h e r e n e u ...      1
6  n g h b k f r h b r h h e l v e p u z z l e n ...      0
7  l v e h e b k f r 4 r l g r n n l v e p u z z ...      0
8  n h e p l u e p u z z l e b k f r n e l g h f ...      0
9  h p u z z l e p r l e h e p c u r e p r f h e ...      0