In [7]:
import pandas as pd
import numpy as np
import nltk
from nltk.corpus import stopwords
import string
from nltk.tokenize import word_tokenize
from sklearn.model_selection import train_test_split

In [2]:
toys_df = pd.read_json("D:\CDAC_PUNE_PROJECT\Toys_and_Games.json\Toys_and_Games.json",lines=True)

In [3]:
toys_df.head(10)

,_id,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime,category,class
0,{'$oid': '5a13282b741a2384e879a620'},A3C9CSW3TJITGT,0005069491,Renee,"[0, 0]",I love these felt nursery rhyme characters and...,4,Charming characters but busy work required,1377561600,"08 27, 2013",Toys_and_Games,1
1,{'$oid': '5a13282b741a2384e879a621'},A31POTIYCKSZ9G,0076561046,So CA Teacher,"[0, 0]",I see no directions for its use. Therefore I h...,3,No directions for use...,1404864000,"07 9, 2014",Toys_and_Games,0
2,{'$oid': '5a13282b741a2384e879a622'},A2GGHHME9B6W4O,0131358936,Dalilah G.,"[0, 0]",This is a great tool for any teacher using the...,5,Great CD-ROM,1382400000,"10 22, 2013",Toys_and_Games,1
3,{'$oid': '5a13282b741a2384e879a61f'},AMEVO2LY6VEJA,0000191639,Nicole Soeder,"[0, 0]","Great product, thank you! Our son loved the pu...",5,Puzzles,1388016000,"12 26, 2013",Toys_and_Games,1
4,{'$oid': '5a13282b741a2384e879a623'},A1FSLDH43ORWZP,0133642984,Dayna English,"[0, 0]",Although not as streamlined as the Algebra I m...,5,Algebra II -- presentation materials,1374278400,"07 20, 2013",Toys_and_Games,1
5,{'$oid': '5a13282b741a2384e879a624'},A3NXHTSEBX9YHB,0279515766,marlenetbueras,"[0, 0]",i am glad to get it after 25 yr of waiting for...,5,my strawberry shortcake,1363564800,"03 18, 2013",Toys_and_Games,1
6,{'$oid': '5a13282b741a2384e879a626'},A3CJHKFHHQJP2K,0375829695,"Beth Sharo ""bookmom""","[0, 0]",My son got this book for his birthday. He lov...,1,Disappointing Puzzle Book,1297209600,"02 9, 2011",Toys_and_Games,0
7,{'$oid': '5a13282b741a2384e879a627'},A3638FINP26E8N,0375829695,C. Boykin,"[1, 1]",Love the book format. My 4yr old grandson love...,3,frustrating puzzle pieces,1282521600,"08 23, 2010",Toys_and_Games,0
8,{'$oid': '5a13282b741a2384e879a62a'},A1QG5NJW3LOTSO,0375829695,H. Chao,"[0, 0]",On the plus side - puzzle book format and deli...,3,mixed feelings,1201564800,"01 29, 2008",Toys_and_Games,0
9,{'$oid': '5a13282b741a2384e879a629'},A27GZ92KLXDJVJ,0375829695,D. Glade,"[1, 1]",This puzzle is poorly made. The picture part ...,2,Cheaply made puzzle - not worth your $!,1264550400,"01 27, 2010",Toys_and_Games,0

In [4]:
df=toys_df[['reviewText','class']]

In [5]:
df.head()

                                          reviewText  class
0  I love these felt nursery rhyme characters and...      1
1  I see no directions for its use. Therefore I h...      0
2  This is a great tool for any teacher using the...      1
3  Great product, thank you! Our son loved the pu...      1
4  Although not as streamlined as the Algebra I m...      1

In [8]:
df['class'].value_counts()

class
1    1662754
0     334386
Name: count, dtype: int64

In [10]:
x=df['reviewText']
y=df['class']

In [18]:

train_sent,test_sent,train_labels,test_labels=train_test_split(x,y,stratify=y,test_size=0.3,random_state=0)

In [21]:
test_sent.count()

599142

In [22]:
vocab_size = 10000
embedding_dim = 16
max_length = 120
trunc_type = 'post'

In [23]:
! pip install keras_preprocessing

Requirement already satisfied: keras_preprocessing in c:\users\prathamesh\anaconda3\envs\deep_learning\lib\site-packages (1.1.2)
Requirement already satisfied: numpy>=1.9.1 in c:\users\prathamesh\anaconda3\envs\deep_learning\lib\site-packages (from keras_preprocessing) (1.24.3)
Requirement already satisfied: six>=1.9.0 in c:\users\prathamesh\anaconda3\envs\deep_learning\lib\site-packages (from keras_preprocessing) (1.16.0)

In [24]:
from keras.preprocessing.text import Tokenizer
from keras_preprocessing.sequence import pad_sequences
tokenizer = Tokenizer(num_words=vocab_size)
tokenizer.fit_on_texts(train_sent)
word_index=tokenizer.word_index
len(word_index)

WARNING:tensorflow:From c:\Users\Prathamesh\anaconda3\envs\Deep_Learning\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

300029